@page
@model ProjectPRN221.Pages.customersite.authenticate.changespassword.IndexModel
@{
    ViewData["Title"] = "Changes Password";
    Layout = "CustomerLayout";
}
@*HEADER*@
@if (!string.IsNullOrEmpty(@Model.isCustomerAuthenticated))

{
    <partial name="/Pages/_HeaderCustomersite.cshtml" model="new ProjectPRN221.Pages._HeaderCustomerSiteModel()" />
}

else

{
    <partial name="/Pages/_HeaderGuestSite.cshtml" model="new ProjectPRN221.Pages._HeaderGuestSiteModel()" />
}

        @*BANNER*@
        <section class="site-banner jarallax min-height300 padding-large" style="background: url(Client/images/iphone14_banners.png) no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-title">Changes Password</h1>
                        <div class="breadcrumbs">
                            <span class="item">
                                <a href="">Home /</a>
                            </span>
                            <span class="item">Changes Password</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        @*FORM*@
        <section class="login-tabs padding-large no-padding-bottom">
            <div class="container">
                <div class="row">
                    <div class="tabs-listing">

                        <nav>
                            <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-sign-in-tab" data-bs-toggle="tab" data-bs-target="#nav-sign-in" type="button" role="tab" aria-controls="nav-sign-in" aria-selected="true">Changes Password</button>
                            </div>
                        </nav>
                    @if (Model.Mess != null)
                    {
                        <div style="text-align: center"><h3>@Model.Mess</h3></div>
                    }
                         @*FORM*@
                        <form method="post">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade active show" id="nav-sign-in" role="tabpanel" aria-labelledby="nav-sign-in-tab">
                                    <div class="form-group">
                                        <label for="sign-in">Create New Password *</label>
                                        <input type="password" minlength="2" name="spass" placeholder="Create New Password" class="u-full-width bg-light" required="">
                                    </div>   
                                    <div class="form-group">
                                        <label for="sign-in">Re-Enter Password *</label>
                                        <input type="password" minlength="2" name="respass" placeholder="Re-Enter Password" class="u-full-width bg-light" required="">
                                    </div> 
                                    <button type="submit" name="submit" class="btn btn-dark btn-full btn-medium">Changes Password</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>



        <hr>

       @*FOOTER*@
<partial name="/Pages/_FooterCustomerSite.cshtml" model="new ProjectPRN221.Pages._FooterCustomerSiteModel()" />
