@page
@model ProjectPRN221.Pages.customersite.authenticate.otp.IndexModel
@{
    ViewData["Title"] = "OTP";
    Layout = "CustomerLayout";
}


         @*HEADER*@
<partial name="/Pages/_HeaderGuestSite.cshtml" model="new ProjectPRN221.Pages._HeaderGuestSiteModel()" />

         @*BANNER*@
        <section class="site-banner jarallax min-height300 padding-large" style="background: url(Client/images/iphone14.png) no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-title">Forgot Password</h1>
                        <div class="breadcrumbs">
                            <span class="item">
                                <a href="#">Home /</a>
                            </span>
                            <span class="item">Forgot Password</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        @*FORM*@
        <section class="login-tabs padding-large no-padding-bottom">
            <div class="container">
                <div class="row">
                    <div class="tabs-listing">
                        <nav>
                            <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-sign-in-tab" data-bs-toggle="tab" data-bs-target="#nav-sign-in" type="button" role="tab" aria-controls="nav-sign-in" aria-selected="true">OTP</button>
                            </div>
                        </nav>

                        @*FORM*@
                        <form method="post">

                            <div class="tab-content" id="nav-tabContent">

                                <div class="tab-pane fade active show" id="nav-sign-in" role="tabpanel" aria-labelledby="nav-sign-in-tab">
                                    <div class="form-group">
                                        <label for="OTP">Input OTP *</label>
                                        <input type="text" minlength="2" name="otp" placeholder="Enter OTP" class="u-full-width bg-light" required="">
                                    </div>     
                                    <label>
                                        <span class="label-body">If you remember your password: </span>
                                        <span class="label-body"><a href="/customersite/login">Login</a></span>
                                    </label>
                                    <button type="submit" name="submit" class="btn btn-dark btn-full btn-medium">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>


        <hr>

       @*FOOTER*@
<partial name="/Pages/_FooterCustomerSite.cshtml" model="new ProjectPRN221.Pages._FooterCustomerSiteModel()" />
