@page
@model ProjectPRN221.Pages._HeaderGuestSiteModel
@{
}
       <div class="preloader-wrapper">
            <div class="preloader">
            </div>
        </div>

        <header id="header">
            <div id="header-wrap">
                <nav class="primary-nav padding-small">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-2 col-md-2">
                                <div class="main-logo">
                                    <a href="/customersite/home">
                                        <img style="width: 50%" src="~/Images/logo/logo.png" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10">
                                <div class="navbar">

                                    <div id="main-nav" class="stellarnav d-flex justify-content-end right">

                                        <ul class="menu-list">

                                            <li>
                                                <a href="/customersite/home" class="item-anchor active">
                                                    Home
                                                </a>
                                            </li>

                                            <li>
                                                <a href="/customersite/shop" class="item-anchor d-flex align-item-center" data-effect="Shop">
                                                    Shop
                                                </a>
                                            </li>
                                             
                                             <li class="menu-item has-sub">
                                                <a href="/customersite/about?id=6" class="item-anchor d-flex align-item-center" data-effect="About">About<i class="icon icon-chevron-down"></i></a>
                                                <ul class="submenu">
                                                        <li><a href="/customersite/about?id=6" class="item-anchor">About</a></li>
                                                        <li><a href="/customersite/about?id=3" class="item-anchor">Privacy</a></li>
                                                        <li><a href="/customersite/about?id=4" class="item-anchor">Returns</a></li>
                                                        <li><a href="/customersite/about?id=1" class="item-anchor">Conditions</a></li>
                                                        <li><a href="/customersite/about?id=2" class="item-anchor">Career</a></li>
                                                        <li><a href="/customersite/about?id=5" class="item-anchor">Delivery</a></li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="/customersite/contact" class="item-anchor d-flex align-item-center" data-effect="Contact">
                                                    Contact
                                                </a>
                                            </li>

                                            
                                            <li>
                                                <a href="/customersite/news" class="item-anchor">
                                                    News
                                                </a>
                                            </li>
                      
                                            <li class="menu-item has-sub">
                                                <a href="/customersite/authenticate/login" class="item-anchor d-flex align-item-center icon icon-user"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>