@page
@model ProjectPRN221.Pages.adminsite.news.CreateModel

@{
    ViewData["Title"] = "Create News";
    Layout = "_AdminLayout";
}

        <div class="container-scroller">
    <partial name="/Pages/_HeaderAdminsite.cshtml" model="new ProjectPRN221.Pages._HeaderAdminsiteModel()" />

    <partial name="/Pages/_LeftPageAdminSite.cshtml" model="new ProjectPRN221.Pages._LeftPageAdminSiteModel()" />
                <!-- partial -->
                <div class="main-panel">        
                    <div class="content-wrapper">
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="News.Createdby"/>
                                <input type="hidden" asp-for="News.Status"/>
                                <input type="hidden" asp-for="News.CreatedDate"/>
                                <input type="hidden" asp-for="News.Image"/>
                            <div class="row">
                                <div class="col-md-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Create News</h4>
                                            <p class="card-description">
                                                Fill all the bank
                                            </p>
                                                <div class="form-group">
                                                    <label asp-for="News.NewsgroupId">News Group</label>
                                                    <select class="form-control" asp-for="News.NewsgroupId" asp-items="ViewBag.NewsgroupId">
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label asp-for="@Model.FileUploads">Image</label>
                                                    <img id="preview-img" src="" alt="" style="width: 30%">
                                                    <input type="file" asp-for="@Model.FileUploads"  
                                                     class="form-control" onchange="previewImage()" accept="image/*" >
                                                </div>

                                                <div class="form-group">

                                                    <label  asp-for="News.Title">Tile</label>
                                                    <input type="text" class="form-control" asp-for="News.Title" placeholder="Title" required>

                                                </div>

                                                <div class="form-group">

                                                    <label asp-for="News.Content">Content</label> <br>
                                                    <textarea  asp-for="News.Content" ></textarea>

                                                </div>

                                            <div style="text-align: center">
                                                <button type="submit" name="submit" class="btn btn-primary me-2">Submit</button>
                                                <button class="btn btn-light">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
