<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="~/admin/vendors/feather/feather.css">
        <link rel="stylesheet" href="~/admin/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="~/admin/vendors/ti-icons/css/themify-icons.css">
        <link rel="stylesheet" href="~/admin/vendors/typicons/typicons.css">
        <link rel="stylesheet" href="~/admin/vendors/simple-line-icons/css/simple-line-icons.css">
        <link rel="stylesheet" href="~/admin/vendors/css/vendor.bundle.base.css">
        <link rel="stylesheet" href="~/admin/css/vertical-layout-light/style.css">
        <title>@ViewData["Title"]</title>
        <link rel="icon" href="/Images/logo/logo.png" type="image/x-icon" />
                <style>
            a {
                all: unset;
                cursor: pointer;
            }
        </style>
    </head>
<body>

        @RenderBody()
        @await RenderSectionAsync("Scripts", required: false)

        <script src="~/admin/vendors/js/vendor.bundle.base.js"></script>
        <script src="~/admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <script src="~/admin/vendors/progressbar.js/progressbar.min.js"></script>
        <script src="~/admin/js/off-canvas.js"></script>
        <script src="~/admin/js/hoverable-collapse.js"></script>
        <script src="~/admin/js/template.js"></script>
        <script src="~/admin/js/settings.js"></script>
        <script src="~/admin/js/todolist.js"></script>
        <script src="~/admin/vendors/tinymce/tinymce.min.js"></script>
        <script src="~/admin/vendors/tinymce/tinymce.js"></script>
        <script src="~/admin/vendors/tinymce/jquery.tinymce.js"></script>
        <script src="~/admin/vendors/tinymce/jquery.tinymce.min.js"></script>

        @*SignalR*@

        <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/site.js"></script>

        @*Excel*@
        <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
        <script>
         function exportToExcel() {
         const table = document.getElementById("myTable");
         const wb = XLSX.utils.table_to_book(table, {sheet: "SheetJS"});
         const wbout = XLSX.write(wb, {bookType: "xlsx", type: "array"});
         saveAsExcelFile(wbout, "excel.xlsx");}

        function saveAsExcelFile(buffer, fileName) {
        const data = new Blob([buffer], {type: "application/octet-stream"});
        const link = document.createElement("a");
        link.href = window.URL.createObjectURL(data);
        link.download = fileName;
        link.click();}
        </script>
        <script>
            function previewImage() {
                var preview = document.querySelector('#preview-img');
                var file = document.querySelector('input[type=file]').files[0];
                var reader = new FileReader();

                reader.onloadend = function () {
                    preview.src = reader.result;
                };

                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    preview.src = "";
                }
            }
        </script>
        <script>
            const numberElements = document.getElementsByClassName('number');
            for (let i = 0; i < numberElements.length; i++) {
            const numberElement = numberElements[i];
            const number = parseFloat(numberElement.innerText);
            const formattedNumber = formatCurrency(number);
            numberElement.innerText = formattedNumber;
            }

            function formatCurrency(value) {
            const intValue = parseInt(value);
            const formattedValue = intValue.toLocaleString('vi-VN', {
            style: 'currency',
            currency: 'VND',
            });
            return formattedValue;
            }
        </script>
        <script>
            tinymce.init({
            selector: 'textarea',
            height: 500,
            menubar: 'file edit view format',
            plugins: 'advlist autolink lists link image charmap print preview anchor',
            toolbar: 'undo redo | formatselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'
            });
        </script>
</body>
</html>
