@page
@model ProjectPRN221.Pages.adminsite.newsgroup.CreateModel

@{
    ViewData["Title"] = "Create News Group";
    Layout = "_AdminLayout";
}

        <div class="container-scroller">

    <partial name="/Pages/_HeaderAdminsite.cshtml" model="new ProjectPRN221.Pages._HeaderAdminsiteModel()" />

    <partial name="/Pages/_LeftPageAdminSite.cshtml" model="new ProjectPRN221.Pages._LeftPageAdminSiteModel()" />

                <!-- partial -->
                <div class="main-panel">        
                    <div class="content-wrapper">
                        <div class="row">

                            <div class="col-md-6 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Add News Group</h4>
                                        <p class="card-description">
                                            Fill all the bank
                                        </p>
                                        <form class="forms-sample" method="post">
                                            <div class="form-group">
                                                <label asp-for="NewsGroup.NewsgroupName">News Group</label>
                                                <input type="text" class="form-control" asp-for="NewsGroup.NewsgroupName" placeholder="News Group">
                                            </div>
                                            <button type="submit" name="submit" class="btn btn-primary me-2">Submit</button>
                                            <button class="btn btn-light">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
                        </div>
                    </footer>
                </div>
            </div>
